@model IEnumerable<JuliePro.Models.TrainerCertification>

@{
    ViewData["Title"] = @Locals["Index"];
}

<h1>@Locals["Index"]</h1>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#name').on('input', function () {

                var input = $(this).val().toLowerCase();

                $('.modelNom').each(function () {
                    var nom = $(this).text();

                    if (input.length == 0) {
                        $(this).parent().removeClass("surlignage");
                    }
                    else if (nom.toLowerCase().includes(input)) {
                        $(this).parent().addClass("surlignage");
                    }
                    else {
                        $(this).parent().removeClass("surlignage");
                    }
                });
            });

            $('#btn').click(function () {

                var date = new Date($('#date').val());

                $('#table tr').filter(function () {

                    if (isNaN(date.getTime())) {
                        $('#table').children('tr').each(function () {
                            $(this).show();
                        });
                    }
                    else {
                        $(this).toggle(new Date($(this).children('#dateRow').html()) >= date);
                    }
                });
            });
        });
    </script>
}

<p>
    <a asp-action="Create">@Locals["Create New"]</a>
</p>

<div class="col-2">
    <h5>Highlight by Name</h5>
    <input class="form-control" type="text" id="name" name="name">
</div>

<form>
    <div class="col-2">
        <h5>Filter by Date</h5>
        <input class="form-control" type="date" id="date" name="date">
        <button type="button" id="btn" class="btn btn-primary">Filtrer</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCertification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model)
        {
            <tr>
                <td class="modelNom">

                    <a asp-action="Filter" asp-controller="Trainer" asp-route-SearchNameText="@item.Trainer.FullName">
                        @Html.DisplayFor(modelItem => item.Trainer.FullName)
                    </a>

                </td>
                <td>


                    <a asp-action="Details" asp-controller="Certification" asp-route-id="@item.Certification_Id">   @Html.DisplayFor(modelItem => item.Certification.FullTitle) </a>

                </td>
                <td id="dateRow">
                    @Html.DisplayFor(modelItem => item.DateCertification)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Locals["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Locals["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
