@model JuliePro.Models.Certification

@{
    ViewData["Title"] = @Locals["Create"];
}

<h1>@Locals["Create"]</h1>

<h4>@Locals["Certification"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationCenter" class="control-label"></label>
                <input asp-for="CertificationCenter" class="form-control" />
                <span asp-validation-for="CertificationCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Locals["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Locals["Back to List"]</a>
</div>

